html {
  font-size: 13px;
}

body {
  font-size: 1rem;
  font-family: $montserrat;
}

.spacer {
  flex-grow: 1 !important;
}

.active-element {
  &:focus,
  &:active {
    outline-width: 5px;
    outline-style: auto;
    outline-color: #80bdff;
    outline-offset: -2px;
  }
}
