.clipped-text__toggle-link {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  color: #000;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }
}
