body {
  font-size: 13px;
  font-family: $montserrat;
}

.spacer {
  flex-grow: 1 !important;
}

.kanban-board {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  background: url('../static/images/background.jpg') no-repeat center;
  background-size: cover;
}

.kanban-board__columns-list {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

.kanban-board__column {
  display: flex;
  flex: 0 0 272px;
  flex-flow: column;
  max-height: calc(100vh - 50px);
  margin: 10px;
  background: #dfe3e6;
  border-radius: 3px;
}

.kanban-board__column-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px 6px;
  font-weight: bold;
}

.kanban-board__cards-list {
  padding: 8px 15px 0;
  overflow-y: auto;
}

.kanban-board__cards-list + .kanban-board__column-block {
  padding-top: 4px;
}

.kanban-board__column-block {
  padding: 8px 15px 0;

  &:first-child {
    padding-top: 12px;
  }
}

.kanban-board__column-footer {
  display: flex;
  align-items: center;
  padding: 0 15px 12px;
}

.kanban-board__cards-list--empty + .kanban-board__column-footer {
  .kanban-board__add-button,
  .kanban-board__save-button {
    margin-top: 0;
  }
}

.kanban-board__cards-list--empty + .kanban-board__column-block {
  padding-top: 0;
}

.kanban-board__card-wrapper {
  position: relative;
  margin-bottom: 8px;
  border-radius: 3px;

  &:last-child {
    margin-bottom: 4px;
  }

  &:hover .kanban-board__card {
    width: calc(100% - 50px);
  }
}

.kanban-board__cards-list--dragging .kanban-board__card-wrapper:hover,
.kanban-board__card-wrapper--drag:hover {
  .kanban-board__card {
    width: 100%;
  }
}

.kanban-board__card-wrapper--ghost {
  background: #c9d2d9;

  .kanban-board__card {
    opacity: 0;
  }

  .kanban-board__card-actions {
    display: none;
  }
}

.kanban-board__card-wrapper--drag .kanban-board__card {
  transform: rotate(5deg);
}

.kanban-board__card {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 242px;
  min-height: 37px;
  padding: 10px;
  overflow: hidden;
  line-height: 1.1;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  cursor: pointer;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.kanban-board__card-actions {
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
  height: 18px;
}

.kanban-board__delete-column {
  margin-left: 10px;
}

.kanban-board__add-button {
  display: flex;
  width: 100%;
  margin-top: 12px;
  padding: 0;
  color: #6b808c;
  background: transparent;
  border: none;
  cursor: pointer;

  img {
    margin-right: 10px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }
}

.kanban-board__save-button {
  margin-top: 8px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background: #39c071;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.kanban-board__close-button {
  display: flex;
  margin-top: 8px;
  padding: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    opacity: 0.8;
  }
}

.kanban-board__form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 37px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
  }

  &.is-invalid {
    border-color: #dc3545;

    &:focus {
      border-color: #dc3545;
      box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
    }
  }

  &.is-invalid ~ .invalid-feedback {
    display: block;
  }
}

.kanban-board__form-control--card-input {
  min-height: 54px;
  resize: none;
}

.kanban-board__form-control--edit-input {
  position: relative;
  z-index: 1;
  width: calc(100% - 50px);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.3rem;
  color: #dc3545;
  font-size: 80%;
}

.kanban-board__icon-button {
  display: inline-flex;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:focus,
  &:active {
    outline: 0;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    opacity: 0.8;
  }
}
